<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.flexercise">

    <application
        android:allowBackup="true"
        android:icon="@drawable/flexercise_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/flexercise_launcher_round"
        android:logo="@drawable/flexercise_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Database.ExerciseContentProvider"
            android:authorities="com.example.android.flexercise"
            android:exported="false" />
        <provider
            android:name=".Database.WorkoutsDatabase.WorkoutContentProvider"
            android:authorities="com.example.android.flexercise.Database.WorkoutsDatabase.WorkoutContentProvider"
            android:exported="false" />

    </application>

</manifest>